* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding:10px;
}

.welcome{
    text-align: center;
}

p{
    margin: 20px 600px;
    width: 400px;
}

.welcome button{
    width: 50px;
}

#questions,
#finalscore {
    margin-left: 300px;
}
#questions ol{
    margin-top: 20px;
}

#hrline{
    margin-top: 20px;
    width:50%
}

#submit{
    margin-left: 20px;
    background-color: purple;
    border-radius: 5px;
}