* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding:10px;
}

a{
    text-decoration: none;
    color: black;
}
.welcome p{
    margin: 20px;
    width: 400px;
}

.welcome{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome button{
    width: 50px;
}

#option1:hover,
#option2:hover,
#option3:hover,
#option4:hover{
    opacity: 0.5;
    color:whitesmoke;
}

#questions,
#finalscore {
    margin-left: 300px;
}
#questions ol{
    margin-top: 20px;
}

#hrline{
    margin-top: 20px;
    width:50%
}

#submit{
    margin-left: 20px;
    background-color: purple;
    border-radius: 5px;
}

#finalscore p,
#finalscore button{
    margin-top: 20px;
}